<div class="body-content">
    <div class="body-header">
      <h2>Select your role to proceed</h2>
      <img src="../../../assets/Icons/LOGO.png" alt="LOGO">
      <h6>Welcome to QCLASS! Please select your role to get started. Whether you're a teacher looking to create and manage engaging quizzes, or a student ready to learn and track your progress, we have the right tools for you.</h6>
      <div class="flex-box">

        <div class="box">
             <button type="button" class="login-btn" (click)=studentSignInPage()>I am a Student</button>
        </div>

        <div class="box">  
            <button type="button" class="sign-in-btn">I am a Teacher</button>
       </div>

    </div>

  </div>
