<div class="page-container">
    <!-- Navigation Bar -->
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
  
    <!-- Body Content (Sidebar and main content) -->
    <div class="body-content">

      <div class="sidebar">
        <div class="profile">
            <img src="../../../assets/Images/profile.jpg" class="profile-img">
            <h2 class="profile-name">John Doe</h2>
          </div>
          
        <ul class="sidebar-menu">
          <li><button (click)="navigateToCreateClass()">Create Class</button></li>
          <li><button (click)="navigateToCreateQuiz()">Create Quiz</button></li>
          <li><button (click)="navigateToManageClasses()">Manage Classes</button></li>
          <li><button (click)="navigateToViewReports()">View Reports</button></li>
          <li><button (click)="navigateToSettings()">Settings</button></li>
        </ul>
      </div>

      <div class="view-port">
        <router-outlet></router-outlet>
    </div>

    </div>




    <div class="footer">
        © 2024 QCLASS. All rights reserved. | Designed for educators and learners.
    </div>
  </div>
  