
<div class="page-content">
    <div class="nav">
    <app-nav-bar></app-nav-bar>
    </div>

    <div class="body-content">
      <div class="body-header">
        <h2>Welcome to QCLASS</h2>
        <img src="../../../assets/Icons/LOGO.png" alt="LOGO">
        <h6>Welcome to QCLASS, the ultimate platform for interactive classroom quizzes and assessments. With QCLASS, teachers can effortlessly create, customize, and manage quizzes to challenge and inspire students. Students can participate in quizzes, track their progress, view their marks, and monitor their grades all in one place.</h6>
    </div>

    <div class="flex-box">

        <div class="box">
             <h5>Already have an account?</h5>
             <button type="button" class="login-btn" (click)=navigateToSignInPage()>SignIn</button>
        </div>

        <div class="box">
            <h5>New to QCLASS?</h5>
            <button type="button" class="sign-in-btn" (click)=navigateToSignUpPage()>SignUp</button>
       </div>

    </div>

    </div>

    <div class="footer">
        © 2024 QCLASS. All rights reserved. | Designed for educators and learners.
    </div>
</div>
